


 *{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;

 }
 body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: rgb(236, 233, 233);
    background-image: linear-gradient(rgb(31, 2, 31),rgb(41, 4, 60));

 }
 
  header{
     padding: 2rem 1rem;
     max-width: 800px;
     width: 100%;
     margin: 0 auto;
     

  }
 header h2{
    font-size: 2.5rem;
    font-weight: 300;
    color:linear-gradient(rgb(247, 245, 247), rgb(34, 1, 34));
    margin-bottom:1rem;
    font-family:fantasy;
    font-style: bold;
    
 }
 #new-task-form{
    display: flex;
 }
input, button{
    appearance: none;
    border: none;
    outline: none;
    background: none;
}
#new-task-input{
     flex: 1 1 0%;
     display: flex;
    justify-content: space-between;
   background-image: linear-gradient(rgb(180, 9, 180), rgb(31, 1, 31));
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
     padding: 1rem;
     border-radius: 1rem;
     margin-right: 1rem;
     color: var(--light);
     font-size: 1.25rem;
}
 #new-task-input::placeholder{
   color: rgb(248, 245, 245);
   font-style: bold;
 }
 #new-task-submit{
   
    font-size: 1.25rem;
    font-weight: 700;
    background-image: linear-gradient(rgb(247, 245, 247), rgb(34, 1, 34));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 50%;

 }
 #new-task-submit:hover{
    opacity: 0.8;
    color: black;
 }
 #new-task-submit:active{
    opacity: 0.6;
 }
 main{
    flex: 1 1 0%;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;

 }
 .task-list{
    padding: 1rem;
    
 }
 .task-list h2{
    font-size: 1.5rem;
    font-weight: 300;
    color:linear-gradient(rgb(247, 245, 247), rgb(34, 1, 34));
    margin-bottom: 1rem;
    
 }
 #tasks .task{
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(rgb(180, 9, 180), rgb(31, 1, 31));
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;


 }
 .task .content{
    flex: 1 1 0%;
 }
 .task .content .text{
    color: lightblue;
    font-size: 1.125rem;
    width: 100%;
    display: block;
    transition: 0.4s;
 }
 .task .content .text:not(read-only){
    color:pink;
 }
 .task .actions {
    display: flex;
    margin: 0 -0.5rem;

 }
 .task .actions button{
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
 }
 .task .actions button:hover{
    opacity: 0.8;

 }
 .task .actions button:active{
    opacity: 0.6;
 }
 .task .actions .edit{
    background-image: linear-gradient(rgb(247, 245, 247), rgb(34, 1, 34));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

 }
 .task .actions .delete{
    background-image: linear-gradient(rgb(87, 4, 4), rgb(28, 2, 7));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
 }
 